/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* following are font properties , they are inherited (but not all of them) so can be done in body and 
    inheritd by its ancestors */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; /* it cause a slider because look like box-sizing is*/
}

.header {
  height: 95vh;

  /* gradient + background image*/
  background-image: linear-gradient(
      to right,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../img/hero.jpg");

  /* background-size: cover -> responsive background width to some extent */
  background-size: cover;

  /* background-position: top --> change height but the top background will stay on top and not cropped */
  background-position: top;

  /* very nice effect */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo {
  /* width is set by browser by setting height or vice versa but why */
  height: 35px;
}

.logo-box {
  padding-left: 40px;
  padding-top: 40px;
  /* 
        following is what Jonas does but i see no reason for this , padding-left, padding-top looks good
    position : absolute;
    top:40px;
    left:40px; */
}

/* not working as expected on hover --> why ???? but anyway not used later
 .logo-box :hover {
  animation: moveInRight 1s ease-out;
} */

.heading-primary {
  color: white;
  text-transform: uppercase;

  /* 
    animation is a bit shakey at the end so 
    backface-visibility: hidden will prevent this 
   */
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  letter-spacing: 35px;
  font-weight: 400;
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* animation-delay: 3s; --> start animation after this number */
  /* animation-iteration-count: 3; ---> perform animation in a loop */
  animation-timing-function: ease-out;
}


/* appears from left to right */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  letter-spacing: 17.4px;
  font-weight: 700;
  animation: moveInRight 1s ease-out;
}

/* appears from right to left */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.text-box {
  /* why it is working only with position ???   */
  position: absolute;
  /* top and left is with relation to the element father */
  top: 50%;
  left: 50%;
  /* -50% relates to the width and height of this element */
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  /* position is relative because btn::after is considered a child of btn 
     and we want him to be absolute which is measued from neareset relatibe ancestor */
  position: relative;
  }



.btn-white {
  background-color: white;
  color: #777;
}

.btn:hover{
  transform: translateY(-3px);
  /* box-shadow : horizontal offset , vertical offset , blur , spread */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}


/* button is active on click */
.btn:active{
  transform: translateY(1px) ;
  /* box-shadow : horizontal offset , vertical offset , blur , spread */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

/* we use .btn::after but we actually put it behined the btn using absolute */
.btn::after{
   content: ""; /*according to jonas must be event if is empty */
   display: inline-block;/*  same as .btn */
   /* height and width is 100% to be same as ancestor i.e. .btn */
   height: 100%;
   width: 100%;
   border-radius: 100px;
   position: absolute;
   top:0;
   left:0;
   z-index: -1;
}

.btn-white::after {
  background-color: white;
  transition: all 0.6s;
}

.btn:hover::after{
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* appears from bottom to top */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-animated{
  animation: moveInBottom 0.5s ease-out;
  /*not clear why Jonas use this animation-fill-mode: backwards; */
}