@mixin clearfix{
    &::after{
       content:""; //  content is must even if empty
       display: table; //  not clear why it is needed
       clear: both;
      } 
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

